@import url(//fonts.googleapis.com/css?family=Ubuntu:300,400,500);

body {
    font-family: "Ubuntu", sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

a:visited {
    color: inherit;
}

i.fa {
    margin-right: 5px;
}

header {
    background-color: #326da44d;
}

#about {
    font-size: 1.2rem;
}

@media only screen and (max-width: 600px) {
    .features-img {
        width: 300px;
    }
}

@media only screen and (max-width: 450px) {
    .features-img {
        width: 200px;
    }
}
@media screen and (max-width: 768px) {
[data-aos-delay] {
    transition-delay: 0 !important;
}
}
#hero img {
    max-width: 100% !important;
    max-height: 100% !important;
}
@media only screen and (max-width: 1000px) {
        .search-bar {
            display: none;
        }
    }
/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.intro {
    height: 80vh;
    position: relative;
    color: #ffffff;
}

.intro .swiper-pagination {
    bottom: 50px;
}

.intro .swiper-pagination .swiper-pagination-bullet {
    width: 18px;
    height: 10px;
    background-color: #ffffff;
    border-radius: 0;
    opacity: 1;
    transition: 0.3s;
}

.intro .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #2eca6a;
    width: 36px;
}

.intro-item {
    background-size: cover;
}

.intro .intro-item {
    padding-top: 2rem;
}

.intro .carousel-item-a {
    position: relative;
    height: 80vh;
}

.intro .carousel-item-a.bg-image {
    background-attachment: scroll;
}

.intro .intro-content {
    position: absolute;
}

.intro .intro-body {
    padding-left: 1rem;
}

@media (min-width: 768px) {
    .intro .intro-body {
        padding-left: 2rem;
    }
}

.intro .intro-body .price-a {
    color: #000;
    padding: 1rem 1.5rem;
    border: 2px solid #2eca6a;
    border-radius: 50px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    background-color: rgba(255, 255, 255, 1);
}

.intro .spacial {
    animation-delay: 0.2s;
    color: #ffffff;
}

.intro .intro-title-top {
    margin-bottom: 1rem;
    font-size: 0.9rem;
    color: #ffffff;
    letter-spacing: 0.05em;
}

@media (min-width: 768px) {
    .intro .intro-title-top {
        font-size: 0.9rem;
        margin-bottom: 1rem;
    }
}

@media (min-width: 992px) {
    .intro .intro-title-top {
        font-size: 1rem;
        margin-bottom: 2rem;
    }
}

.hero-wrap {
    width: 80vw;
    margin: 0 auto;
}

.intro-body {
    width: 80vw;
    background-color: rgba(28, 27, 28, 0.5);
    border-radius: 10px;
    padding: 2rem 4rem;
}

.intro .intro-title {
    color: #ffffff;
    font-weight: 700;
    font-size: 2.8rem;
    text-transform: uppercase;
}

@media (min-width: 576px) {
    .intro .intro-title {
        font-size: 3.5rem;
    }
}

@media (min-width: 768px) {
    .intro .intro-title {
        font-size: 3.5rem;
    }
}

@media (min-width: 992px) {
    .intro .intro-title {
        font-size: 4rem;
    }
}

.intro .intro-subtitle {
    font-size: 1.5rem;
    font-weight: 300;
}

@media (min-width: 768px) {
    .intro .intro-subtitle {
        font-size: 2.5rem;
    }
}

.intro .intro-subtitle.intro-price {
    padding-top: 1rem;
    font-size: 1.2rem;
}

@media (min-width: 576px) {
    .intro .intro-subtitle.intro-price {
        font-size: 1.3rem;
    }
}

@media (min-width: 768px) {
    .intro .intro-subtitle.intro-price {
        padding-top: 2rem;
        font-size: 1.5rem;
    }
}

@media (min-width: 992px) {
    .intro .intro-subtitle.intro-price {
        padding-top: 3rem;
    }
}

/*------/ Intro Single /------*/
.intro-single {
    padding: 12rem 0 3rem;
}

@media (max-width: 767px) {
    .intro-single {
        padding-top: 9rem;
    }
}

.intro-single .title-single-box {
    padding: 1rem 0 1rem 2rem;
}

.intro-single .title-single-box {
    border-left: 3px solid #2eca6a;
}

.intro-single .title-single-box .title-single {
    font-weight: 600;
    font-size: 2.2rem;
}

@media (min-width: 768px) {
    .intro-single .title-single-box .title-single {
        font-size: 2.1rem;
    }
}

@media (min-width: 992px) {
    .intro-single .title-single-box .title-single {
        font-size: 2.5rem;
    }
}

.intro-single .breadcrumb-box {
    padding: 1rem 0 0 0.5rem;
}

.intro-single .breadcrumb {
    background-color: transparent;
    padding-right: 0;
    padding-left: 0;
}
/* Features Section - Home Page
------------------------------*/
.features .features-item {
color: rgba(var(--default-color-rgb), 0.8);
}

.features .features-item+.features-item {
margin-top: 100px;
}

@media (max-width: 768px) {
.features .features-item+.features-item {
    margin-top: 40px;
}
}

.features .features-item h3 {
font-weight: 700;
font-size: 26px;
}

.features .features-item .btn-get-started {
background-color: var(--primary-color);
color: var(--contrast-color);
padding: 8px 30px 10px 30px;
border-radius: 4px;
border: 1px solid #000;
}

.features .features-item .btn-get-started:hover {
background-color: rgba(var(--primary-color-rgb), 0.9);
}

.features .features-item ul {
list-style: none;
padding: 0;
}

.features .features-item ul li {
padding-bottom: 10px;
display: flex;
align-items: flex-start;
}

.features .features-item ul li:last-child {
padding-bottom: 0;
}

.features .features-item ul i {
font-size: 20px;
padding-right: 4px;
color: var(--primary-color);
}

.features .features-item img {
border: 6px solid var(--background-color);
box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1);
}

.features .features-item .features-img-bg {
position: relative;
min-height: 500px;
}

@media (max-width: 640px) {
.features .features-item .features-img-bg {
    min-height: 300px;
}
}

.features .features-item .features-img-bg img {
position: absolute;
inset: 0;
display: block;
width: 100%;
height: 100%;
-o-object-fit: cover;
object-fit: cover;
}

.features .features-item .image-stack {
display: grid;
position: relative;
grid-template-columns: repeat(12, 1fr);
}

.features .features-item .image-stack .stack-back {
grid-column: 4/-1;
grid-row: 1;
width: 100%;
z-index: 1;
}

.features .features-item .image-stack .stack-front {
grid-row: 1;
grid-column: 1/span 8;
margin-top: 20%;
width: 100%;
z-index: 2;
}
/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services .icon-box {
margin-bottom: 20px;
text-align: center;
}

.services .icon {
display: inline-flex;
justify-content: center;
align-items: center;
width: 80px;
height: 80px;
margin-bottom: 20px;
background: #fff;
border-radius: 50%;
transition: 0.5s;
color: #5c9f24;
overflow: hidden;
box-shadow: 0px 0 25px rgba(0, 0, 0, 0.15);
}

.services .icon i {
font-size: 36px;
line-height: 0;
}

.services:hover .icon {
box-shadow: 0px 0 25px rgba(92, 159, 36, 0.3);
}

.services .title {
font-weight: 600;
margin-bottom: 15px;
font-size: 18px;
position: relative;
padding-bottom: 15px;
}

.services .title a {
color: #444444;
transition: 0.3s;
}

.services .title a:hover {
color: #5c9f24;
}

.services .title::after {
content: "";
position: absolute;
display: block;
width: 50px;
height: 2px;
background: #5c9f24;
bottom: 0;
left: calc(50% - 25px);
}

.services .description {
line-height: 24px;
font-size: 14px;
}
*--------------------------------------------------------------
# Často kladené otázky
--------------------------------------------------------------*/
.faq .faq-list {
  padding: 0 100px;
}

.faq .faq-list ul {
  padding: 0;
  list-style: none;
}

.faq .faq-list li+li {
  margin-top: 15px;
}

.faq .faq-list li {
  padding: 20px;
  background: #fff;
  border-radius: 4px;
  position: relative;
}

.faq .faq-list a {
  display: block;
  position: relative;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  padding: 0 30px;
  outline: none;
  cursor: pointer;
}

.faq .faq-list .icon-help {
  font-size: 24px;
  position: absolute;
  right: 0;
  left: 20px;
  color: #47b2e4;
}

.faq .faq-list .icon-show,
.faq .faq-list .icon-close {
  font-size: 24px;
  position: absolute;
  right: 0;
  top: 0;
}

.faq .faq-list p {
  margin-bottom: 0;
  padding: 10px 0 0 0;
}

.faq .faq-list .icon-show {
  display: none;
}

.faq .faq-list a.collapsed {
  color: #37517e;
  transition: 0.3s;
}

.faq .faq-list a.collapsed:hover {
  color: #47b2e4;
}

.faq .faq-list a.collapsed .icon-show {
  display: inline-block;
}

.faq .faq-list a.collapsed .icon-close {
  display: none;
}

@media (max-width: 1200px) {
  .faq .faq-list {
    padding: 0;
  }
}
.contact-form {
    width: 70%;
}
.contact-form .form-control {
    border-radius: 1rem;
}
.contact-image {
    text-align: center;
}
.contact-image img {
    border-radius: 6rem;
    width: 11%;
    margin-top: -3%;
    transform: rotate(29deg);
}
.contact-form form {
    padding: 14%;
}
.contact-form form .row {
    margin-bottom: -7%;
}
.contact-form h3 {
    margin-bottom: 8%;
    margin-top: -10%;
    text-align: center;
    color: #0062cc;
}
.contact-form .btnContact {
    width: 50%;
    border: none;
    border-radius: 1rem;
    padding: 1.5%;
    background: #dc3545;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}
.btnContactSubmit {
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    color: #fff;
    background-color: #0062cc;
    border: none;
    cursor: pointer;
}
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
font-size: 14px;
background: #37517e;
}

#footer .footer-newsletter {
padding: 50px 0;
background: #f3f5fa;
text-align: center;
font-size: 15px;
color: #444444;
}

#footer .footer-newsletter h4 {
font-size: 24px;
margin: 0 0 20px 0;
padding: 0;
line-height: 1;
font-weight: 600;
color: #37517e;
}

#footer .footer-newsletter form {
margin-top: 30px;
background: #fff;
padding: 6px 10px;
position: relative;
border-radius: 50px;
box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.06);
text-align: left;
}

#footer .footer-newsletter form input[type=email] {
border: 0;
padding: 4px 8px;
width: calc(100% - 100px);
}

#footer .footer-newsletter form input[type=submit] {
position: absolute;
top: 0;
right: 0;
bottom: 0;
border: 0;
background: none;
font-size: 16px;
padding: 0 20px;
background: #47b2e4;
color: #fff;
transition: 0.3s;
border-radius: 50px;
box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#footer .footer-newsletter form input[type=submit]:hover {
background: #209dd8;
}

#footer .footer-top {
padding: 60px 0 30px 0;
}

#footer .footer-top .footer-contact {
margin-bottom: 30px;
}

#footer .footer-top .footer-contact h3 {
font-size: 28px;
margin: 0 0 10px 0;
padding: 2px 0 2px 0;
line-height: 1;
text-transform: uppercase;
font-weight: 600;
color: #37517e;
}

#footer .footer-top .footer-contact p {
font-size: 14px;
line-height: 24px;
margin-bottom: 0;
font-family: "Jost", sans-serif;
color: #5e5e5e;
}

#footer .footer-top h4 {
font-size: 16px;
font-weight: bold;
color: #37517e;
position: relative;
padding-bottom: 12px;
}

#footer .footer-top .footer-links {
margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
list-style: none;
padding: 0;
margin: 0;
}

#footer .footer-top .footer-links ul i {
padding-right: 2px;
color: #47b2e4;
font-size: 18px;
line-height: 1;
}

#footer .footer-top .footer-links ul li {
padding: 10px 0;
display: flex;
align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
padding-top: 0;
}

#footer .footer-top .footer-links ul a {
color: #777777;
transition: 0.3s;
display: inline-block;
line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
text-decoration: none;
color: #47b2e4;
}

#footer .footer-top .social-links a {
font-size: 18px;
display: inline-block;
background: #47b2e4;
color: #fff;
line-height: 1;
padding: 8px 0;
margin-right: 4px;
border-radius: 50%;
text-align: center;
width: 36px;
height: 36px;
transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
background: #209dd8;
color: #fff;
text-decoration: none;
}

#footer .footer-bottom {
padding-top: 30px;
padding-bottom: 30px;
color: #fff;
}

#footer .copyright {
float: left;
}

#footer .credits {
float: right;
font-size: 13px;
}

#footer .credits a {
transition: 0.3s;
}

@media (max-width: 768px) {
#footer .footer-bottom {
    padding-top: 20px;
    padding-bottom: 20px;
}

#footer .copyright,
#footer .credits {
    text-align: center;
    float: none;
}

#footer .credits {
    padding-top: 4px;
}
}
